/* style.css */

/* Estilos para el cuerpo de la página */
body {
    background-color: #f8f9fa; /* Color de fondo */
    font-family: Arial, sans-serif; /* Familia de fuentes predeterminada */
}

/* Estilos para el carrusel */
#carouselExample {
    margin-top: 20px; /* Espacio superior */
    border: 2px solid #343a40; /* Borde del carrusel */
    border-radius: 10px; /* Borde redondeado */
    overflow: hidden; /* Oculta el contenido que se desborda del carrusel */
}

/* Estilos para las imágenes del carrusel */
.carousel-item img {
    border-bottom: 1px solid #343a40; /* Borde inferior */
}

/* Estilos para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    background-color: #343a40; /* Color de fondo */
    border-radius: 50%; /* Borde redondeado */
    width: 50px; /* Ancho */
    height: 50px; /* Altura */
    line-height: 50px; /* Centrado vertical */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #fff; /* Color de los iconos */
    font-size: 24px; /* Tamaño de fuente */
}

.carousel-control-prev {
    left: -55px; /* Posición izquierda */
}

.carousel-control-next {
    right: -55px; /* Posición derecha */
}

/* Estilos para el navbar */
.navbar {
    background-color: #343a40; /* Color de fondo */
}

.navbar-nav .nav-link {
    color: #fff; /* Color del texto */
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Color del texto al pasar el mouse */
}
