<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vanguardia - {{rss.feed.title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>La Vanguardia - <small>{{rss.feed.title}}</small></h1>
    <img src="{{ rss.feed.image.url }}" alt="{{ rss.feed.image.title }}">
    <p><a href="{{ rss.feed.image.link }}">{{ rss.feed.image.link }}</a></p>
    {% for item in rss.entries %}
        <p>
            <a href="{{item.link}}">{{item.title}}</a>
            {% for media in item.media_content %}
                <p><img src="{{media.url}}" alt="{{item.title}}" /></p>
                
                
            {% endfor %}
        </p>
        <p> Descripcion - {{item.description }}</p>
        <p> Publicado - {{item.published }}</p>
        <p> Modificado - {{item.updated }}</p>
        <p> Autor - {{item.author }}</p>
        <p> Categoria - {{item.category }}</p>
    {% endfor %}
</body>
</html>
